body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img_round{
  border-radius: 30px;
  border: 2px solid;
}
.suggestion{
  width:700px;
  padding: 5px;
  height:auto;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}
.home_btn{
  margin-top:300px !important;
}